.title {
  color: white;
  font-weight: normal;
}

.container {
  background-color: #afeeee; 
  height: 200px;
  padding: 30px;
  text-align: center;
}

.container p {
  color: white;
}

.btn{
  background-color: #87ceeb;
  color: white;
  display: inline-block;
  padding: 20px 30px;
  margin-top: 20px;
  text-decolation: none;
}

.btn:hover{
  opacity: 1;
  pointer: cursor;
}
  
