.title {
  color: white;
  font-weight: normal;
}

.container {
  background-color: #afeeee; 
  height: 200px;
  padding: 30px;
  text-align: center;
}

.container p {
  color: white;
}

.btn{
  background-color: #87ceeb;
  color: white;
  display: block;
  padding: 10px 20px;
  margin: 50px;
  opacity: 0.7;
  radius: 30px;
  text-decolation: none;
}

.btn:hover{
  opacity: 1;
  pointer: cursor;
}
  
