.title {
  color: white;
  font-weight: normal;
}

.container {
  background-image: url(https://github.com/0r0ct/0r0ct.github.io/blob/master/top.png);
  background-size: cover;  
  height: 1000px;
  width: 1000px
}
